/* Input form fields */

.code {
  font-family: monospace;
}

.form_label {
  width: 150px !important;
  margin-right: 20px;
  display: inherit;
}
.form_input {
  width: 250px !important;
  display: inherit;
}

select {
  padding: .5em .75em;
  vertical-align: middle;
  font-size: 12px;
  font-family: inherit;
  font-weight: inherit;
  border: 1px solid #aaa;
  border-radius: 2px;
  width:270px !important;
}

body{
  position: relative;
}
